[project]
	description = ? Yet another project to get beginners contributing to open source ?
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dushyant Rathore (dushyantRathore)
[access "refs/for/refs/*"]
	read = group user/Dushyant Rathore (dushyantRathore)
	push = group user/Dushyant Rathore (dushyantRathore)
	label-Code-Review = -2..+2 group user/Dushyant Rathore (dushyantRathore)
	label-Verified = -1..+1 group user/Dushyant Rathore (dushyantRathore)
	rebase = group user/Dushyant Rathore (dushyantRathore)
	removeReviewer = group user/Dushyant Rathore (dushyantRathore)
	submit = group user/Dushyant Rathore (dushyantRathore)
[access "refs/heads/*"]
	read = group user/Dushyant Rathore (dushyantRathore)
	create = group user/Dushyant Rathore (dushyantRathore)
	push = +force group user/Dushyant Rathore (dushyantRathore)
	pushMerge = group user/Dushyant Rathore (dushyantRathore)
[access "refs/tags/*"]
	push = group user/Dushyant Rathore (dushyantRathore)
	push = +force group user/Dushyant Rathore (dushyantRathore)
